html, body {
  height: 100%;
  margin: 0;
}

.flex-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(4, minmax(max-content, 100px));
  grid-template-columns: repeat(4, minmax(max-content, 100px));
  justify-content: center;
  align-content: center;
}

button {}