html, body {
  height: 100%;
  margin: 0;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(5, minmax(max-content, 100px));
  grid-template-columns: repeat(4, minmax(max-content, 100px));
  justify-content: center;
  align-content: center;
}

.display {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: span 4;
  height: 50%;
  padding-right: .5em;
  align-self: flex-end;
  text-align: right;
  font: 1rem sans-serif;
}