html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 15vh);
  grid-template-rows: 10vh repeat(5, 15vh);
  background-color: #ccc;
  grid-gap: 1px;
  border: 1px solid #ccc;
}

#display-wrapper {
  display: flex;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  padding-right: 0.5em;
  font: 1rem sans-serif;
  align-self: flex-end;
  grid-column-end: span 4;
  grid-column-start: 1;
  grid-row-start: 1;
  text-align: right;
}

#display {
  margin: 0;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
  align-self: center;
}

button#clear {
  grid-column: 1 / 4;
  grid-row: 2;
}

button:hover {
  background-color: inherit;
}

.span-two {
  grid-column: span 2;
}
